.container {
  min-height: 100vh;
  width: 100%;
  padding: 20px;
  width: 100%;
}
.imageContainer {
  display: inline-block;
  vertical-align: middle;
}
.images {
  border: solid 2px white;
  padding: 20px;
}
.imageContainer img {
  width: 100px;
  height: 100px;
  margin-right: 2px;
}
.chosenImage {
  display: inline-block;
  width: 200px;
  height: 200px;
  background: grey;
  vertical-align: middle;
  margin-left: 10px;
}
.chosenImage img {
  width: 100%;
  height: 100%;
}
.buttonContainer {
  padding: 10px 0;
}
.buttonContainer button {
  margin-right: 10px;
}
.label {
  vertical-align: top;
  margin-right: 10px;
}

.input {
  vertical-align: top;
  display: inline-block;
  margin-left: 10px;
}

textarea {
  vertical-align: top;
  margin-left: 10px;
}

.yumFactorContainer {
  padding: 10px 0;
}
