:global(.example-enter) {
  opacity: 0.01;
}

:global(.example-enter.example-enter-active) {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

:global(.example-leave) {
  opacity: 1;
}

:global(.example-leave.example-leave-active) {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
:global(.fade-enter) {
  opacity: 0;
  z-index: 1;
}

:global(.fade-enter.fade-enter-active) {
  opacity: 1;
  transition: opacity 250ms ease-in;
}


:global(.page-enter) {
  position: absolute;
  top: 0;
  opacity: 0;
}

:global(.page-enter-done) {
  opacity: 1;
}

:global(.page-enter.page-enter-active) {
  opacity: 1;
  transition: opacity 400ms linear;
}

:global(.page-exit) {
  position: absolute;
  top: 0;
  opacity: 1;
}

:global(.page-exit.page-exit-active) {
  transition: opacity 400ms linear;
  opacity: 0;
}

:global(.listitem-enter){
  opacity: 0;
  transform: translateY(-10vh);
}
:global(.listitem-enter-active) {
  opacity: 1;
  transform: translateY(0);
  transition: all 400ms linear;
}

