.container {
  background: pink;
  color: white;
  min-height: 100vh;
  width: 100%;
  display: flex;
  
}
.innerContainer {
  margin: auto;
}
.link {
  color: white;
  font-size: 3em;
  font-family: 'Great Vibes', cursive;
  font-weight: bold;
  text-decoration: none;
}
.link:hover,
.link:active {
  text-decoration: underline;
}
