.container {
  background: pink;
  color: white;
  min-height: 100vh;
  width: 100%;
  display: flex;
  
}
.innerContainer {
  margin: auto;
}
.link {
  color: white;
  font-size: 3em;
  font-weight: bold;
}
